html{
    color: $color-primary;
    background-color: $color-base;
    height: 100%;
}

body{
    height: 100%;
}

a{
    color: $color-secondary;
    &:hover{
        color: $color-primary;
    }
    // &:active{}
    // &:visited{

    // }

}

button{
    color: $color-base;
    background-color: $color-secondary;
    border: none;
    cursor: pointer;
    border-radius: 0%;
    &:hover{
        color: $color-secondary;
        background-color: $color-base;
    }
    &:focus{
        border: 1px solid #fff2;
        outline: 1px solid #fff2;
    }
    &:active{
        border: 1px solid #fff2;
        outline: 1px solid #fff2;
    }
}

.highlight{
    background-color: #c6538c;
    padding: 3px;
    color: #171717;
}

body{
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
}